__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
# SQLite databases
*.db
*.sqlite
*.sqlite3
# Flask session
.flask_session/
# Uploads and temporary files
uploads/
static/uploads/
temp_*
*.log
# IDEs
.vscode/
.idea/
.vs/

# AI Folders & Massive Models
datasets/
runs/
*.h5
fire_model.h5
